{
  "business": {
    "client": [
      "xiaozhang",
      "xiaochen"
    ],
    "common": [
      "xiaozhang",
      "xiaochen",
      "xiaoma"
    ],
    "goods": [
      "xiaozhang",
      "xiaochen",
      "xiaoma"
    ],
    "trading": [
      "xiaozhang",
      "xiaochen",
      "xiaoma"
    ],
    "ucenter": [
      "xiaozhang",
      "xiaoma"
    ]
  }
}